// root.scss
$header-footer-bg:#6B6B6B;
$black-color:#000000;
$black-color-1:#111111;
$black-color-3:#333333;
$black-color-4:#000000;
$light-bg:#EBEBEB;
$logo-bacc: #D3D3D3;
$class-bacc:#E5E5E5;
$white-color:#FFFFFF;
$main-hover-color:red;
$main-font-family:"Roboto";

